body {
    background-color: #DED9E3;
    font-family: 'Nunito', sans-serif;
   
}

#calculator {
    width: 350px;
    height: 450px;
    border: 3px solid black;
    border-radius: 8px;
    margin: auto;
    display: grid;
    grid-template-columns: [first] 25% [second] 25% [third] 25% [fourth] 25% [fifth];
    grid-template-rows: [firstRow] 20% [secondRow] 16% [thirdRow] 16% [fourthRow] 16% [fifthRow] 16% [sixthRow] 16% [seventhRow];
}

#display {
    grid-column-start: first;
    grid-column-end: fifth;
    grid-row-start: firstRow;
    grid-row-end: secondRow;
    background-color: #E5EFEE;
    display: grid;
    grid-template-rows: [firstLine] 30% [secondLine] 70% [thirdLine];
}
button {
    font-size: 22px;
    font-family: 'Nunito', sans-serif;
    font-weight:bold;
    border: 1px black solid;
}

button:hover {
    filter: brightness(95%);
}

#results {
    justify-self: end;
    align-self: end;
    font-size: 40px;
    grid-row-start: secondLine;
    grid-row-end: thirdLine;
}


.number {
    background-color: #D3CDE1;
    ;
}

.operator {
    /*background-color:#B7D7E2;*/
    background-color: #BACEB5;
}

.top {
    background-color: #B5B2D0;
}

[id = '7'] {
    grid-column-start: first;
    grid-column-end: second;
    grid-row-start: thirdRow;
    grid-row-end: fourthRow;
}

[id = '4'] {
    grid-column-start: first;
    grid-column-end: second;
    grid-row-start: fourthRow;
    grid-row-end: fifthRow;
}

[id = '1'] {
    grid-column-start: first;
    grid-column-end: second;
    grid-row-start: fifthRow;
    grid-row-end: sixthRow;
}

[id = '2'] {
    grid-column-start: second;
    grid-column-end: third;
    grid-row-start: fifthRow;
    grid-row-end: sixthRow;
}

[id = '3'] {
    grid-column-start: third;
    grid-column-end: fourth;
    grid-row-start: fifthRow;
    grid-row-end: sixthRow;
}

[id = '5'] {
    grid-column-start: second;
    grid-column-end: third;
    grid-row-start: fourthRow;
    grid-row-end: fifthRow;
}

[id = '6'] {
    grid-column-start: third;
    grid-column-end: fourth;
    grid-row-start: fourthRow;
    grid-row-end: fifthRow;
}

[id = '8'] {
    grid-column-start: second;
    grid-column-end: third;
    grid-row-start: thirdRow;
    grid-row-end: fourthRow;
}

[id = '9'] {
    grid-column-start: third;
    grid-column-end: fourth;
    grid-row-start: thirdRow;
    grid-row-end: fourthRow;
}

[id = '0'] {
    grid-column-start: first;
    grid-column-end: third;
    grid-row-start: sixthRow;
    grid-row-end: seventhRow;
}

#multiply {
    grid-column-start: fourth;
    grid-column-end: fifth;
    grid-row-start: secondRow;
    grid-row-end: thirdRow;
}

#divide {
    grid-column-start: fourth;
    grid-column-end: fifth;
    grid-row-start: thirdRow;
    grid-row-end: fourthRow;
}

#subtract {
    grid-column-start: fourth;
    grid-column-end: fifth;
    grid-row-start: fourthRow;
    grid-row-end: fifthRow;
}

#add {
    grid-column-start: fourth;
    grid-column-end: fifth;
    grid-row-start: fifthRow;
    grid-row-end: sixthRow;
}

#clear {
    grid-column-start: first;
    grid-column-end: second;
    grid-row-start: secondRow;
    grid-row-end: thirdRow;
}

#equals {
    grid-column-start: fourth;
    grid-column-end: fifth;
    grid-row-start: sixthRow;
    grid-row-end: seventhRow;
    background-color: #BACEB5;
}

#decimal {
    grid-column-start: third;
    grid-column-end: fourth;
    grid-row-start: sixthRow;
    grid-row-end: seventhRow;
    background-color: #D3CDE1;
}

#backspace {
    grid-column-start: second;
    grid-column-end: third;
    grid-row-start: secondRow;
    grid-row-end: thirdRow;
}

#sign {
    grid-column-start: third;
    grid-column-end: fourth;
    grid-row-start: secondRow;
    grid-row-end: thirdRow;
}

